@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 100;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}
 
* {
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    --background-color: #1a1a1a;
}
 
a {
    color: inherit;
    text-decoration: none;
}
 
.banner {
    min-height: 100vh;  /* 100% da altura visível */
    background-image: url('../../imgs/banner.png'); /* img */
    background-position: center; /* centrar V e H o fundo */
    background-size: cover; /* img cobre espaço do container */
    color: white;
    position: relative;
}
 
.wrapper {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
    height: 100%;
}
 
.banner .wrapper{
    display: flex;
    flex-direction: column;
}
 
.header {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.header .logo {
    height: 40px;
}
 
.header .session{
    display: flex;
    gap: 20px;
}
 
.banner .division{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 
.banner .division .menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
 
.banner .division .btn{
    background-color: #15c5f7;
    border-radius: 20px 0;
    padding: 5px 15px;
    font-weight: bold;
}
 
.banner .main{
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin: 10px 0;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero p {
    margin-top: 0;
}

.hero-btns {
    display: flex;
    gap: 20px;
}

.primary-btn {
    background-color: orange;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 2px 2px orangered;
}

.secondary-btn {
    background-color: black;
    border: 1px solid darkblue;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 2px 2px darkblue;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
    margin: 0;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)); /* cria uma caixa com transparência e gradiente */
    border-radius: 8px;
}

.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 200px;
    margin: 0;
}

.skill-img {
    height: 40px;
    margin: 0 10px;
}

.skill-title {
    font-size: 1rem;
    margin-bottom: 5px; 
}

.skill-desc {
    font-size: 0.7rem;
    color: darkgray;
    margin-top: 0;
}

.bottom-section {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: #1a1a1a;
    padding: 20px 0;
}

/* cria linha divisória com texto no meio */
.hr-text {
    border: 0;
    line-height: 1em;
    position: relative;
    text-align: center;
    height: 1.5em;
    font-size: 14px;
}
  
.hr-text::before {
    content: "";
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
  
.hr-text::after {
    content: attr(data-content);
    position: relative;
    padding: 0 7px;
    line-height: 1.5em;
    color: white;
    background-color: #1a1a1a;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 25px;
}

.bot-img {
    height: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* Ajustes para telas pequenas (dispositivos móveis) */
@media (max-width: 768px) {
    /* Empilha o conteúdo, colocando o hero acima da sidebar */
    .banner .main {
        display: flex;
        flex-direction: column; /* Muda para coluna (empilha) */
        align-items: center; /* Centraliza o conteúdo */
        justify-content: center;
        height: 100vh; /* A altura da main vai ocupar a altura da tela */
    }

    /* Hero ocupa 50% da altura da tela e fica centralizado */
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* Centraliza o conteúdo */
        height: 50vh; /* Hero ocupa 50% da altura da tela */
        width: 100%; /* Hero ocupa 100% da largura da tela */
        text-align: center; /* Centraliza o texto dentro do hero */
    }

    /* Sidebar desaparece em telas pequenas */
    .sidebar {
        display: none; /* Esconde a sidebar em telas pequenas */
    }
}